<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.gigi-net.yahoo-transport</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>28BE64C3-EC42-499C-B764-246CED54E44B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39F9635C-CF75-47DE-9BFB-B7A61702B35A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giginet</string>
	<key>description</key>
	<string>Search transport route via Yahoo Japan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yahoo Transporter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>39F9635C-CF75-47DE-9BFB-B7A61702B35A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>transit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python plugin.py "{query}"</string>
				<key>title</key>
				<string>Search in Yahoo Transit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28BE64C3-EC42-499C-B764-246CED54E44B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28BE64C3-EC42-499C-B764-246CED54E44B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>39F9635C-CF75-47DE-9BFB-B7A61702B35A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
